@media screen and (min-width: 250px) {
	img{
     content: url(https://lh4.googleusercontent.com/-u2KJqrImoGE/T88alDnYOKI/AAAAAAAAGZM/YaJ5mn9j2Fk/s500/98.gif);
       background-color:#000000;   
    }
}
@media screen and (min-width:500px) {
	img{
		content: url(kitten-small.png);
		}
}		
@media screen and (min-width: 600px) {
		img{
			content: url(kitten-medium.png);
			}
}			
@media screen and (min-width: 800px) {
	img{
		content: url(kitten-large.png);
	}
}	
